---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Sub from "../components/Sub.astro";
import Eq from "../components/Eq.astro";
const lang = "pt-br";
---

<Layout title="Formulário" lang={lang}>
  <h1>Formulário</h1>
  <div class="sections-container">
    <Section title="Cinemática" lang={lang}>
      <Sub>
        <Eq>
          {"\\(V_M = \\frac{\\Delta S}{\\Delta t} t \\)"}
        </Eq>
      </Sub>
      <Sub title="M.U.">
        <Eq name="Eq. Horária dos Espaços">\(S = S_0 + V.\Delta t \)</Eq>
      </Sub>
      <Sub title="M.U.V.">
        <Eq>
          {"\\(a = a_M = \\frac{\\Delta V}{\\Delta t} \\)"}
        </Eq>
        <Eq name="Eq. Horária da Velocidade">\(V = V_0 + a\Delta t \)</Eq>

        <Eq name="Eq. Horária dos Espaços">
          {"\\(S = S_0 + V_0\\Delta t + \\frac{a}{2}\\Delta t^2 \\)"}
        </Eq>
        <Eq name="Torricelli">\( V^2 = V_0^2 + 2a\Delta S \)</Eq>
        <Eq name="A velocidade média é a média das velocidades">
          {"\\(V_M = \\frac{\\Delta S}{\\Delta t} = \\frac{V + V_0}{2} \\)"}
        </Eq>
      </Sub>
      <Sub title={"M.C.U"}>
        <Eq name="aceleração centrípeta">
          {"\\(a = a_{cp} = \\frac{\\ V^2}{R}  \\)"}
        </Eq>
        <Eq name="intervalo de tempo de um ciclo">período: \( T\)</Eq>
        <Eq name="frequência">
          {"\\( f = \\frac{1}{ T} \\)"}
        </Eq>
        <Eq name="velocidade (linear)">
          {
            "\\( V = \\frac{\\Delta S}{ \\Delta t} = \\frac{2 \\pi R}{T} = 2 \\pi R f\\)"
          }
        </Eq>
        <Eq name="frequência ou velocidade angular">
          {
            "\\(\\omega = \\frac{\\Delta \\phi}{\\Delta t} = \\frac{2 \\pi}{T} = 2 \\pi f \\)"
          }
        </Eq>
      </Sub>
      <Sub title={"M.H.S."}>
        <Eq>\(x = A.\sin(\omega t - \phi_0) \)</Eq>
        <Eq>\(v = A\omega . \cos(\omega t - \phi_0) \)</Eq>
        <Eq>\(a = - A \omega ^2 . \sin(\omega t - \phi_0) \)</Eq>
      </Sub>
    </Section>
    <Section title="Estática / Dinâmica">
      <Sub title={"Leis de Newton"}>
        <Eq>
          {
            "\\( \\vec{v} = \\text{constante} \\Rightarrow \\vec{a} = \\vec{0} \\Rightarrow \\vec{F_{res}} = \\vec{0}  \\)"
          }
        </Eq>
        <Eq>
          {"\\( \\vec{F_{res}} = m \\vec{a}  \\)"}
        </Eq>
        <Eq>
          {"\\( \\vec{F_{A,B}} = - \\vec{F_{B,A}}  \\)"}
        </Eq>
      </Sub>
      <Sub>
        <Eq>
          {"\\( E = \\frac{mv^2}{2} \\)"}
        </Eq>
        <Eq>
          {
            "\\( E_\\text{mecânica} = E_\\text{cinética} + \\sum  E_\\text{potenciais} \\)"
          }
        </Eq>
      </Sub>
      <Sub title={"Molas"}>
        <Eq>
          {"\\( F_{el} = - kx \\)"}
        </Eq>
        <Eq name="en. potencial elástica">
          {"\\( E_{el} = \\frac{kx^2}{2} \\)"}
        </Eq>
      </Sub>
      <Sub title={"Atrito"}>
        <Eq>
          {
            "\\( \\mu_\\text{estático} \\geq  \\mu_\\text{cinético ou dinâmico}  \\)"
          }
        </Eq>
        <Eq name="estático máximo / cinético ou dinâmico">
          {"\\( F_\\text{at} = F_N \\space \\mu \\)"}
        </Eq>
      </Sub>
      <Sub title={"Trabalho"}>
        <Eq name="trabalho da força resultante">
          {"\\( \\tau_{res} = \\Delta E_{cin} \\)"}
        </Eq>
        <Eq name="trabalho de uma força qualquer">
          {"\\( \\tau = Fd \\cos(\\theta) \\)"}
        </Eq>
      </Sub>
    </Section>
    <Section title="Gravitação (Newton)">
      <Sub>
        <Eq name="Lei da Gravitação Universal">
          {"\\( F = \\frac{GMm}{d^2} \\)"} &nbsp , &nbsp &nbsp
          {"\\( g = \\frac{GM}{d^2} \\)"}
        </Eq>
        <Eq name="peso">
          {"\\( F = P = mg \\)"}
        </Eq>
        <Eq name="en. potencial gravitacional">
          {"\\( E = mgh \\)"}
        </Eq>
      </Sub>
    </Section>
    <Section title="Eletrosmagnetismo" >
      <Sub title="Eletrostática">
        <Eq name="Lei de Coulomb"> 
          {"
            \\(
              F = \\frac{KQq}{d^2}
              \\)
            )
          "}
        </ Eq>
        <Eq name="campo elétrico"> 
          {"
            \\(
              E = \\frac{F}{q} = \\frac{KQ}{d^2}
              \\)
            )
          "}
        </ Eq>
        <Eq name="en. potencial elétrica"> 
          {"
            \\(
              U = \\frac{KQq}{d}
              \\)
            )
          "}
        </ Eq>
        <Eq name="potencial eletrostático"> 
          {"
            \\(
              V = \\frac{U}{q} = \\frac{KQ}{d} = Ed \\space \\text((em campo elétrico uniforme))
              \\)
            )
          "}
        </ Eq>
        
        <Eq name="trabalho eletrostático"> 
          {"
            \\(
              \\tau = \\Delta E_{cin \\doublearrow pot} = q \\Delta V
              \\)
            )
          "}
        </ Eq>
      </ Sub>
    </ Section>
  </div>
</Layout>

<style>
  h1 {
    font-size: 5.25vw;
    text-align: center;
    color: whitesmoke;
    margin: 0 0 1.75vw 0;
    padding-top: 1.75vw;
    box-sizing: border-box;
  }
  .sections-container {
    display: flex;
    width: 100%;
    height: 120vw;
    gap: 1vw 1vw;
    flex-flow: column wrap;
    box-sizing: border-box;
    overflow: hidden;
  }
</style>
